<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../styles/style.css" />
    <title>FastScript</title>
</head>

<body>
    <h1>FastScript!</h1>
    <button id="rules-btn" class="btn rules-btn">Показать правила</button>
    <div id="rules" class="rules">
        <h2>Как играть:</h2>
        <p>
            Используйте правую и левую клавишу, чтобы переместить платформу, и сломайте блоки.
        </p>
        <p>Если вы пропустите мяч, ваш счет и блоки будут сброшены.</p>
        <button id="close-btn" class="btn">Назад</button>
    </div>

    <canvas id="canvas" width="800" height="600"></canvas>

    <script src="../app/index.js"></script>
</body>

</html>